/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



/* Proyect styles */

html,body {
	margin:0;
	padding:0;
	height:96%; /* needed for container min-height */
	background-image: url(/images/pattern.gif);
	
	font-family:arial,sans-serif;
	font-size:small;
	color:#666;
}

.clear {
	clear: both;
}

header h1 {
	float: left;
	width: 230px;
	height: 210px;
}

h2 {
	font:1.25em georgia,serif; 
	margin:0 0 0.5em;
}

h1, h2, a {
	color:orange;
}

p { 
	line-height:1.5; 
	margin:0 0 1em;
}



section {
	position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
	width:800px;
	background:#fff;
	
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/

	min-height:100%; /* real browsers */
}

header {
	margin-top: 4%;
	background:#fff url("../images/pattern_menu.gif") repeat-x;
}

header nav {
	padding-top: 45px;
	float: right;
	list-style: none;
	height: 96px;
}

header nav li {
	float: left;
	color: #fff;
	font-size: 14px;
	padding-left: 14px;
	padding-right: 14px;
	height: 97px;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
}

header nav a {
	color: #666;
	display: block;
	float: left;
	text-decoration: none;
}

header nav a li:hover {
	color: #CC0000;
}



section {
	padding:1em 1em 5em; /* bottom padding for footer */
}
	section p {
		text-align:left;
		padding:0 1em;
	}

footer {
	position:absolute;
	width:100%;
	bottom:0; /* stick to bottom */
	background:#000;
}
	footer p {
		padding:1em;
		margin:0;
		color: #fff;
	}
