<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess 
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		-->
		
		<title>{% block html_title %}Django Academy{% endblock html_title %}</title>
		
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0" />

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references 
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		-->
		
		<link rel=stylesheet href="{{ STATIC_URL }}styles/styles.css" type="text/css" media="screen" />
	</head>

	<body>
		<div>
			<header>
				<h1><a href="{% url home %}"><img src="{{ STATIC_URL }}images/logo.png" alt="Django Academy" /></a></h1>
				<nav>
					<p>
						<a href="{% url home %}">Home</a>
					</p>
				</nav>
			</header>
			<section>
				{% block main_content %}
				{% endblock main_content %}
			</section>

			<footer>
				<p>
				</p>
			</footer>
		</div>
	</body>
</html>
